//all varibles goes under this files

$borderColor: #ccc;
$borderBgColor: #eeeeee;
$backgroundColor: #edf2f3;
$scrollBarBgColor: rgba(105, 129, 155, 0.5);
$errorTextColor: #ff1943;
$black: #222222;
$white: #ffffff;
$nodeEngg: #b72934;
$nodeManagement: #2b6cb0;
$nodeDesign: #ff7b00;
$nodeQa: #1f9712;
$nodeOps: #dcbb09;
$nodeBackground: #f5f5f6;
$customNodeBackground: #778899;
$nodeBorderColor: #e2e8f0;
$scrollBarColor: #d8d8d8;
$scrollBarColorHover: #cccccc;
$scrollBarWidth: 8px;
$scrollBarRadius: 4px;
